{% extends "base.html" %}
{% block title %}Admin{% endblock title %}
{% block content %}
<h1>Admin</h1>
{% for item in orders %}
    <div>
        <i>{{ item }}</i>
    </div>
{% endfor %}
{% endblock content %}