{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block content %}
    <h1>Goods</h1>
    {% for item in goods %}
    <div>
        <i>{{ item }}</i>
        <a href="/order?name={{ item[0] }}" target="_blank">Order</a>
    </div>
    {% endfor %}
{% endblock content %}