{% extends "base.html" %}
{% block title %}Order{% endblock title %}
{% block content %}
<h1>Order {{ name }}</h1>
<form action="/buy">
    <p>Details:</p>
    <textarea id="text" name="order" rows="4" cols="50"></textarea>
    <br>
    <input type="hidden" id="name" name="name" value="{{ name }}">
    <input type="submit" value="Submit">
</form>
{% endblock content %}